[Unit]
Description=Set sysfs parameters

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/local/bin/sysfs-reload

[Install]
WantedBy=multi-user.target
