name: CI

on:
  pull_request:
    branches: [master, main]
  push:
    branches: [master, main]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: ["3.1", "3.2", "3.3"]
        puppet: ["~> 7.0", "~> 8.0"]
        concat: ["4.2.1", "v7.0.0", "v9.0.2"]
        exclude:
          - ruby: "3.3"
            puppet: "~> 7.0"

    env:
      PUPPET_VERSION: ${{ matrix.puppet }}
      CONCAT_VERSION: ${{ matrix.concat }}

    name: Ruby ${{ matrix.ruby }} - Puppet ${{ matrix.puppet }} - Concat ${{ matrix.concat }}

    steps:
      - uses: actions/checkout@v4

      - name: Set up Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Set concat version
        run: |
          sed -i "s/ref: v9.0.2/ref: ${CONCAT_VERSION}/" .fixtures.yml

      - name: Run tests
        run: bundle exec rake spec

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.2"
          bundler-cache: true

      - name: Run puppet-lint
        run: bundle exec rake lint

      - name: Validate metadata.json
        run: bundle exec rake metadata_lint

      - name: Validate manifests
        run: bundle exec rake validate
